@import '../../styles/variables.module.css';

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 8vh auto;
  align-items: center;
  @media (min-width: 480px) {
    flex-direction: row;
    justify-content: space-between;
  }
  & > div {
    margin-bottom: 2.5rem;
  }
}