.root {
  margin: 0.5rem 0;
}

.content {
  display: flex;
    & > p, & > a, & > span {
    color: rgb(34, 35, 38);
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Montserrat, Arial, sans-serif;
    line-height: normal;
  }
}