.root {
  position: fixed;
  bottom: 5%;
  right: 5%;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-out;
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  color: var(--neutralGray);
  @media (--tablet) {
    font-size: 2.5rem;
  }
}