@import '../../styles/variables.module.css';

.button {
  text-transform: uppercase;
  border: 3px solid var(--lightGray);
  padding: 0.74rem 2rem;
  border-radius: 90px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: border-color .1s ease-in-out;
  &:hover {
    border-color: var(--neutralGray);
  }
}