@import '../../styles/variables.module.css';
@import '../../styles/media-queries.module.css';

.wrapper {
  composes: header-wrapper from "styles/base.module.css";
  @media (--tablet) {
    align-items: center;
  }
}

.heading {
  margin: 0 !important;
  color: var(--colorNeutralLight);
  text-shadow: 0 0 10px var(--colorPrimaryDark),
  0 0 6px var(--colorNeutralDark),
  0 0 2px var(--colorNeutralDark);
}