.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.dark-bg {
  color: #ffffff;
}

.light-bg {
  color: #000000;
  border-bottom: 2px solid #f2f2f2;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0;
  line-height: 5.5rem;
}

.navPart1,
.navPart2 {
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: inherit;
  text-decoration: none !important;
  opacity: 1;
  transition: 0.4s all;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    color: inherit;
    opacity: 1;
  }
}

.link svg {
  fill: currentColor;
  opacity: 0.5;
  margin-right: 0.5rem;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
