.root {
  margin-top: 1rem;
}

.divider {
  width: 25%;
  text-align: left;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.icon {
  font-size: 2rem;
  color: rgb(34, 35, 38);
  @media (--tablet) {
    font-size: 2.5rem;
  }
  &:hover {
    color: var(--accentColorHover);
  }
}