@import '../../styles/variables.module.css';
@import '../../styles/media-queries.module.css';

.root {
  margin-top: 1rem;
}

.divider {
  width: 25%;
  text-align: left;
}

.icons {
  margin-top: 0.5rem;
  width: 60%;
}

.icon {
  font-size: 2rem;
  color: rgb(34, 35, 38);
  margin-right: 0.5rem;
  @media (--tablet) {
    font-size: 2.5rem;
  }
  &:hover {
    color: var(--accentColorHover);
  }
}