.wrapper {
  composes: sidebar-submenu-wrapper from "styles/sidebar.module.css";
}

.item-list {
  list-style: none;
  padding-left: 0.4rem;
}

.loading {
  font-size: 0.75rem;
  font-weight: 300;
  font-family: "Noto Serif","Times New Roman", Serif;
}

.powered-by {
  font-size: 0.7rem;
  display: block;
}

.goodReadsLogo {
  text-align: right;
}