.wrapper {
  width: 80%;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 3rem 0;
  @media (--tablet) {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  & p {
    font-family: var(--mainFontFamily);
    font-size: var(--excerptBaseFontSize);
    margin-bottom: 0;
    line-height: 1.6rem;
    @media (--laptop) {
      font-size: calc(var(--excerptBaseFontSize) + 0.4rem);
    }
  }
  & h1 {
    letter-spacing: 1px;
    font-size: var(--titleBaseFontSize);
    line-height: var(--titleBaseLineHeight);
    font-weight: 600;
    margin: 0;
    margin-top: 2rem;
    @media (--tablet) {
      font-size: calc(var(--titleBaseFontSize) + 0.3rem);
    };
    @media (--laptop) {
      font-size: calc(var(--titleBaseFontSize) + 0.8rem);
    }
  }
}