
@import '../../styles/variables.module.css';
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  & li {
    padding: 9vh 0;
  }

  & li:nth-child(even) {
    background: #f9f9f9;
  }
}
