@import '../../styles/variables.module.css';

.item {
  composes: sidebar-submenu-item from "styles/sidebar.module.css";
}

.title {
  display: block;
  color: var(--accentColor);
  line-height: normal;
  composes: item;
}

.by {
  margin-right: 0.3rem;
  composes: item;
}

.author {
  composes: item;
}